---

---
<section id="contact" class="contact-container">
  <span class="contact-title">Ponte en contacto con nosotros</span>
  <a href="mailto:contacto@kinilkab.com">contacto@kinilkab.com</a>
  <a href="/"><img class="social" src="/instagram.svg"></a>
  <a href="/"><img class="social" src="/facebook.svg"></a>
</section>
<style>
  .contact-container {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .contact-title {
      font-size: 36px;
      color: black;
    }
    
    a {
      text-decoration: none;
      font-size: 16px;
    }
    
    .social {
      width: 24px;
      height: 24px;
    }
  }
</style>