---
import { Image } from 'astro:assets';

interface Props {
  logo: string;
  links: any[];
}

const { logo, links } = Astro.props;
---

<div class="header">
  <!-- <label class="burger-container">
    <input type="checkbox">
    <div class="sidebar">
      {
        links.map((link) => (
          <a class="side-link" href={"#" + link.route}>{link.name}</a>
        ))
      }
    </div>
    <svg
      class="burger-menu"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      data-icon="SvgMenu"
      aria-hidden="true"><path d="M3 12h18M3 6h18M3 18h18"></path></svg
    >
  </label> -->
  <a href="/" class="logo">
    <Image src={logo} alt="Kinil Kab logo" width="150" height="60" loading="eager"/>
  </a>
  <nav class="links-container">
    {
      links.map((link) => (
        <a href={"#" + link.route} class="link">
          {link.name}
        </a>
      ))
    }
  </nav>
</div>
<style>
  .header {
    background-color: #c65c2b;
    width: 100%;
    height: 64px;
    top: 0px;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    box-shadow: 1px 1px 1px 0px gray;
    position: sticky;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    /* Sidenav */
    .burger-container {
      display: none;

      @media (width < 769px) {
        display: block;
      }

      .burger-menu {
        width: 50px;
        color: white;
        pointer-events: auto;
        cursor: pointer;
      }

      .burger-menu:hover {
        color: #ded9d9;
      }

      .burger-menu:active {
        transform: translateY(1px);
      }

      input {
        position: absolute;
        left: -1000px;
      }

      input:checked + .sidebar{
        display: flex;
      }

      input:not(:checked) + .sidebar {
        display: none;
      }

      .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #c65c2b;
        position: absolute;
        left: 0px;
        top: 64px;
        z-index: 99;
        box-shadow: 1px 1px 1px 1px gray !important;
        transition: width 500ms ease;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        row-gap: 30px;
        padding: 20px 0px;
        pointer-events: all;

        .side-link {
          color: white;
          height: 40px;
          font-size: 18px;
          font-weight: 700;
          text-decoration: none;
          width: 100%;
          text-align: center;
        }
      }
    }

    .logo {
      width: 150px;
      height: auto;

      @media (width < 769px) {
        width: 100px !important;
        margin-right: 30px;
        img {
          width: 100px !important;
        }
      }
    }

    .links-container {
      width: 300px;
      max-width: 80%;
      display: inherit;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .link {
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;

      @media (width < 769px) {
        font-size: 12px;
      }
    }
  }

</style>
